$color-primary: #278fda;
$color-white: #ffffff;

.o-button {
  background-color: $color-primary;
  color: $color-white;
  border-radius: 3px;
  font-size: 1em;
}

// Page
$header-height: 60px;
.o-page {
  position: relative;
  padding-top: $header-height;
  min-height: 100%;
  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: coral;
    z-index: 10;
  }
  &__body {
    position: relative;
    background-color: white;
    min-height: 100%;
  }
  &__main {
    padding: map-get($spacers, 4) 0;
  }
  &__sidebar {
    padding: map-get($spacers, 4) 0;
    background-color: #fff6e2;
  }
  &__footer {
    padding: map-get($spacers, 4) 0;
    background-color: #ffe4e4;
  }
}
